@font-face {
    font-family: 'FiraSansEC';
    src: url('../fonts/FiraSansExtraCondensed-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'FiraSansEC';
    src: url('../fonts/FiraSansExtraCondensed-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1.new-recept-header {
    font-family: 'FiraSansEC', serif;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
}
h1.header-section {
    font-family: 'FiraSansEC', serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #5b5b5b;
    margin-top: 20px;
}

h2.recept-title {
    font-family: 'FiraSansEC', serif;
    font-size: 24px;
    font-weight: 400;
}

p.recept-descr {
    font-family: 'FiraSansEC', serif;
    font-size: 16px;
    font-weight: 400;
}

a {
    font-family: 'FiraSansEC', serif;
    font-weight: 400;
    color: #efefef;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

.container {
    max-width: 1170px;
}

.nav-wrapper {
    width: 170px;
    background-color: #2f3032;
    height: 100vh;
    position: fixed;
}
.nav {
    display: grid;
    grid-template-rows: 1fr 15% 15% 15% 15% 15% 15%;
    text-align: center;
    align-items: center;
}

.logo {
    padding: 35px 55px;
}

.menu-link {
    font-size: 14px;
    padding: 13px 0;
    display: block;
    width: 100%;
    transition: all 0.5s ease-in-out;
    box-sizing: unset;
    text-transform: uppercase;
}
.menu-link:hover {
    background-color: #252628;
    border-left: 1px solid #d9be8f;
}

.nav_footer {
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -0px);
}
.nav_languages {
    margin-bottom: 24px;
}
.ru {
    margin-right: 7px;
}
.ru, .en {
    color: #737373;
}
.active_language {
    color: #fff;
}

.nav_socials {
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/**************************** Content ****************************/
.content {
    margin-left: 170px;
}
.content_wrapper {
    padding: 25px 48px;
}
.content__header {
    display: grid;
    grid-template-columns: 1fr 20%;
    justify-content: space-between;
}
.header__notification {
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: center;
    text-align: center;
}
.header__search__input {
    border: none;
    width: 0px;
    outline: none;
    transition: width 0.5s ease-in-out;
    font-family: 'FiraSansEC', serif;
    font-weight: 400;
}
.header__search__input::placeholder {
    color: #737373;
    font-family: 'FiraSansEC', serif;
    font-weight: 400;
    text-transform: uppercase;
}
.search-btn {
    background: url('../img/search.png');
    background-repeat: no-repeat;
    outline: none;
    border: none;
    background-color: none;
    color: transparent;
}
.header_text {
    text-align: center;
}
.leaf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 47px;
    background-image: url('../img/leaf.png');
    background-position: center;
    background-repeat: no-repeat;
}
.leaf::before, .leaf::after {
    content: '';
    display: block;
    width: 45%;
    height: 1px;
    background-color: #cdcdcd;
}

.select_form_search {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    grid-row-gap: 5px;
    width: 100%;
}
.btns {
    align-self: center;
    margin-bottom: 10px;
}
.nav_btn {
    padding: 10px 20px;
    border: 1px solid #cdcdcd;
    color: #5b5b5b;
    font-size: 14px;
}
.nav_btn:first-child {
    margin-right: 10px;
}
.btn_active,
.nav_btn:hover {
    background-color: #c7b084;
    color: #fff;
}

.selections {
    display: flex;
}
.select {
    width: 155px;
    padding: 10px 0;
    border: 1px solid #dedede;
    color: #5b5b5b;
    outline: none;
    font-size: 14px;
}

/******************* Main Content **********************/
.main_content {
    width: 100%;
    height: auto;
}
.main-recept-a {
    grid-area: main-recept;
    background-color: green;
}
.main-recept-b {
    grid-area: main-recept-2;
    background-color: orange;
}
.main-recept-c {
    grid-area: left-main-recept;
}
.main-recept-d {
    grid-area: small-recept-1;
}
.main-recept-e {
    grid-area: small-recept-2;
}
.main-recept-f {
    grid-area: small-recept-3;
}
.main-recept-g {
    grid-area: small-recept-4;
}
.main-recept-h {
    grid-area: right-main-recept;
}
.recept_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "main-recept main-recept main-recept-2 main-recept-2"
        "left-main-recept left-main-recept small-recept-1 small-recept-2"
        "small-recept-3 small-recept-4 right-main-recept right-main-recept";
}