.content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  height: 60px;
}

.menu__btn {
  display: none;
  position: relative;
  z-index: 555;
  
  width: 30px;
  height: 20px;
  background: transparent;
  border: none;
  outline: #c7b084;
  cursor: pointer;
  span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    &::before,
    &::after {
      content: '';
      display: block;
      width: 30px;
      height: 2px;
      background-color: #fff;
      position: relative;
    }
    &::before {
      top: -9px;
    }
    &::after {
      top: 7px;
    } 
  }
}

@media screen and (max-width: 1024px) {
  .content__header {
    background-color: #2f3032;
    margin-bottom: 20px;
  }
  .menu__btn {
    display: block;
  }
}

.header {
  &__notification {
    width: 65px;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  &__search {
    display: flex;
    align-items: center;
    &__input {
      border: none;
      width: 0px;
      outline: none;
      transition: width 0.5s ease-in-out;
      font-family: 'FiraSansEC', serif;
      font-weight: 400;
      &::placeholder {
        color: #737373;
        font-family: 'FiraSansEC', serif;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
    &__btn {
      display: block;
      width: 19px;
      height: 19px;
  
      background-image: url('../../img/icons/search.svg');
      background-repeat: no-repeat;
      background-color: transparent;
      background-size: 19px;
      outline: none;
      border: none;
      background-color: none;
      color: transparent;
      cursor: pointer;
      @media screen and (max-width: 1024px) {
        background-image: url('../../img/icons/search-white.svg');
      }
    }
  }
}