@import "../vars";

.select__recipe {
  margin: 15px 0;
}
.recipe__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__btn {
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    &--success {
      background-color: $accent;
      color: #fff;
    }
  }
}
.select__list {
  display: flex;
  flex-wrap: wrap;
}
.select__item {
  width: 140px;
  padding: 10px 0;
  margin-left: -1px;
  border: 1px solid #dedede;
  outline: none;

  color: #5b5b5b;
  font-size: 12px;
}

@media screen and (max-width: 1309px) {
  .select__item {
    margin-right: 5px;
    margin-bottom: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 968px) {
  .select__item {
    width: 170px;
  }
}

@media screen and (max-width: 568px) {
  .select__item {
    width: 100%;
    margin-right: 0;
  }
}

@media screen and (max-width: 413px) {
  .recipe__form__btn {
    width: 100%;
    margin-right: 0;
  }
}