.header_text {
  text-align: center;
}
.leaf {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 47px;
  background-image: url('../img/leaf.png');
  background-position: center;
  background-repeat: no-repeat;
}
.leaf::before, .leaf::after {
  content: '';
  display: block;
  width: 45%;
  height: 1px;
  background-color: #cdcdcd;
}