@font-face {
  font-family: 'FiraSansEC';
  src: url('../fonts/FiraSansExtraCondensed-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSansEC';
  src: url('../fonts/FiraSansExtraCondensed-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoCondensed-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}