@import "./fonts";

@mixin list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin  firaRegular {
  font-family: 'FiraSansEC';
  font-weight: 400;
}

@mixin socialIconLink {
  display: block;
  width: 30px;
  height: 30px;

  background: url('../img/icons/sprites.svg') no-repeat;
}